@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html ng-app="SCE">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 测评系统</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel='stylesheet' href='~/lib/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' href='~/lib/textAngular/dist/textAngular.css'>
    <link rel="stylesheet" href="~/css/site.css" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand hidden-md hidden-sm">软件学院管理人员测评系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">主页</a></li>
                    @if (SignInManager.IsSignedIn(User) && DbContext.Users.Include(t => t.UserType).SingleOrDefault(t => t.UserName == User.Identity.Name).UserType.IsAdmin)
                    {
                        <li><a asp-area="" asp-controller="ApplicationUsers" asp-action="Index">用户管理</a></li>
                        <li><a asp-area="" asp-controller="UserTypes" asp-action="Index">权限管理</a></li>
                        <li><a asp-area="" asp-controller="Parts" asp-action="Index">部门管理</a></li>
                        <li><a asp-area="" asp-controller="Projects" asp-action="Index">测评表管理</a></li>
                        <li><a asp-area="" asp-controller="ProjectRecords" asp-action="MarkResult">结果统计</a></li>
                    }
                    <li><a asp-area="" asp-controller="ProjectRecords" asp-action="Mark">测评评分</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">关于</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year - <a href="https://www.obisoft.com.cn">Obisoft Corporation</a> | 东北大学软件学院&nbsp;&nbsp;辽ICP备15014187号</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/js/angular.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js'></script>
    <script src="~/js/site.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>